.ust{
    display: flex;
    justify-content: space-between
}

.sag{
    display: flex;
    justify-content: space-between;
}

.sag p{
    margin-left: 10px;
}

#reng{
    color: green;
}

#button-1{
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
    margin-left: 10px;
}
h1{
   text-align: center;
}

#button-2{
    width: 150px;
    height: 30px;
    background-color: green;
    border: 1px solid green;
    border-radius: 10px;
}

.btn{
    width: 10%;
    margin: 0 auto;
}

.sekil-1{
    width: 200px;
    height: 410px;
}

.sekil-1 img{
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.sekil-2{
    width: 400px;
    height: 200px;
}

.sekil-2 img{
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-left: 30px;
}

.sekiller{
    width: 80%;
    margin: auto;
    display: flex;
    justify-items: center;
}

.all{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 30px;
}

#width{
    width: 20%;

}

.all-2{
    width: 50%;
}